<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Edit Employee</h2>

<form action="/update/<%= emp._id %>?_method=PUT" method="POST">
  <input name="name" value="<%= emp.name %>" />
  <input name="designation" value="<%= emp.designation %>" />
  <input name="location" value="<%= emp.location %>" />
  <input name="salary" value="<%= emp.salary %>" />
  <button>Update</button>
</form>

</body>
</html>