<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Employee List</h2>
<a href="/add">Add Employee</a>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Designation</th>
    <th>Location</th>
    <th>Salary</th>
    <th>Actions</th>
  </tr>

  <% employees.forEach(emp => { %>
    <tr>
      <td><%= emp.name %></td>
      <td><%= emp.designation %></td>
      <td><%= emp.location %></td>
      <td><%= emp.salary %></td>
      <td>
        <a href="/edit/<%= emp._id %>">Edit</a>

        <form action="/delete/<%= emp._id %>?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
  <% }) %>
</table>

</body>
</html>